build/
core/
raw/
resources/models/mario_kart/
resources/models/planet_beach*
resources/models/*.blend
resources/models/*.blend1
resources/models/*.xcf
resources/models/orig_*.*
*.sublime-workspace
.DS_Store
.ark/
.ark_*